<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} IHDT</title>
   	<link href='http://fonts.googleapis.com/css?family=Ubuntu|Roboto|Rock+Salt|Orbitron' rel='stylesheet' type='text/css'>

       
    <style>
    #content {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	border-style: solid;
	border-width: 40px;
	border-radius: 10px;
	padding: 60px;
    }
    </style>

 	{% endblock %}
    </head>


    <body>
        <div id="content" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        </div>
    </body>

</html>