<!DOCTYPE html>
<html>
<title>
Vertical Navigation Menu
</title>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="style.css.txt"></link>
</head>

<body>
	<script language="text/javascript">
		(function (window, document) {

    var layout   = document.getElementById('layout'),
        menu     = document.getElementById('menu'),
        menuLink = document.getElementById('menuLink');

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/),
            length = classes.length,
            i = 0;

        for(; i < length; i++) {
          if (classes[i] === className) {
            classes.splice(i, 1);
            break;
          }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    menuLink.onclick = function (e) {
        var active = 'active';

        e.preventDefault();
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    };

}(this, this.document));
	</script>
	<div id="layout">
		<!--Menu toggle-->
		<a href="#menu" id="menuLink" class="menu-link"></a>
		<div id="menu">
			<div class="pure-menu">
				<a class="pure-menu-heading" href="#"> ITHD </a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item">
						<a class="pure-menu-link" href="Drop%20Down%20Menu.htm">Home</a>
					</li>
					<li class="pure-menu-item">
						<a class="pure-menu-link" href="#">RBECA</a>
					</li>
					<li class="pure-menu-item">
						<a class="pure-menu-link" href="#">Tool</a>
					</li>
					<li class="pure-menu-item">
						<a class="pure-menu-link" href="#">Help</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main"></div>

</body>
</html>


      #banner
      {
        width:800px;
        height:400px;
        text-align:center;
        background-image:url("/static/images/title_image.jpg");
        background-repeat:no-repeat;
        border-radius:10px;
        margin:60px auto auto;
        padding:50px 0;
      }

      .lead
      {
        background-color:rgba(255,255,255,0.6);
        border-radius:3px;
        box-shadow:rgba(0,0,0,0.2) 0 1px 3px;
        font-family:Roboto, sans-serif;
      }
    </style>

  </head>  

  <body>
    <div id="banner">
      <h1>Interactive Tool</h1>
      <p class="lead">Compare Your Modifications to Other Homes in Your Area</p>
    </div>
    <a href="/tool"><br>The Tool<br></a>
  </body>
</html>