{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<h1>
Welcome To Our Interactive Historic District Tool!
</h1>
<img src="/images/mw_HE1S.jpg" alt="Error Cannot Load" style="width:304px;height:228px;">
<br>
{% if session["name"] %}
{{session["name"]}}! <br>
<a href="/logout">Try Again</a>
{% else %}
Enter a max width measurement of a one story, Heights East home:
<form action="" method="post" name="index">
{{form.name(placeholder="Integer Measurement")}}
<input type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}